__pycache__
*.o
fast-completer
fast-completer.exe
fast-completer.bak
*.bin
.venv/
/pyproject.toml
uv.lock
tests/test_runtime
tests/test_generate
tests/test_integration
tests/test_runtime.exe
tests/test_generate.exe
tests/test_integration.exe
